.profile__info {
  display: grid;
  grid-template-areas: "title button"
  "description description";
  grid-template-columns: minmax(auto, 295px) auto;
  grid-gap: 9px 17px;
}

@media screen and (max-width: 740px) {
  .profile__info {
    grid-template-columns: minmax(auto, 228px) auto;
    grid-gap: 9px 5px;
  }
}

@media screen and (max-width: 568px) {
  .profile__info {
    grid-template-columns: minmax(auto, 195px) auto;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 26px 0 33px 0;
  }
}


.error-message{
  color: red;
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: left;

}






.form__input_type_error_profile {
  border-bottom: 1px solid red;}

  

  .popup__button.popup__button_disabled{
   color : rgba(0, 0, 0, 0.15);
border: 1px solid rgba(0, 0, 0, 0.15);
background-color: inherit;
  }

  .popup__button.popup__button_disabled:hover{
    color : rgba(0, 0, 0, 0.15);
 border: 1px solid rgba(0, 0, 0, 0.15);
 background-color: inherit;
   }

   